[mysqld]
default-storage-engine=INNODB
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-external-locking
skip-name-resolve
max_allowed_packet=256M
max_connections=1000
table_open_cache=2000
sort_buffer_size=512K
bulk_insert_buffer_size=16M
tmp_table_size=32M
max_heap_table_size=32M
query_cache_type=1
query_cache_size=64M
query_cache_limit=2M
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=2
log_error=/var/log/mysql/error.log
log-bin=/var/log/mysql/mysql-bin.log
expire_logs_days=10
binlog_format=mixed
innodb_buffer_pool_size=256M
innodb_log_file_size=100M
innodb_file_per_table=1
innodb_flush_log_at_trx_commit=1

[client-server]
!include /etc/mysql/conf.d/mysql-clients.cnf
